$logo-color: #FF5A3C;

$main-text-color: rgba(255, 255, 255, 1);
$second-text-color-1: rgba(138, 138, 138, 1);

$main-background-color: rgba(0, 0, 0, 0.932);

$header-bg: rgba(27, 27, 27, 1);
$header-text-color: #FFFFFF;

$buttons-color: #FF5A3C;
$hover-buttons: #E14A2D;

$input-background-color: rgba(27, 27, 27, 1);
$input-text-color: rgba(138, 138, 138, 1);

$post-background-color: rgba(27, 27, 27, 1);
// $post-background-color: rgb(34, 34, 34);


$author-box-color: rgb(32, 32, 32);

$pagination-text-color: rgb(255, 255, 255);

$error-bg: rgb(248, 230, 230);
$border-error: rgb(248, 186, 186);
$text-color-error: rgb(255, 31, 31);

$succes-bg: rgb(248, 230, 230);
$border-succes: rgb(248, 186, 186);
$text-color-succes: rgb(131, 247, 102);

$border-color: rgb(126, 126, 126);

$pagination-bg: rgb(216, 216, 216);
$pagination-button-bg: rgb(255, 255, 255);